include package.json
recursive-include django_otp/widgets/files *
recursive-include django_otp/templates *
recursive-include django_otp/static *
recursive-exclude tests *
exclude manage.py
exclude settings.py
