<div id="{{ widget.attrs.id or (attrs.id if attrs else '') }}_container">
  {% if widget.embed_script -%}
  <script type="application/javascript">
  {{ script({"widget": widget}) }}
  </script>
  {%- endif %}
  {% if widget.enable_img -%}
  {{ img({"widget": widget}) -}}
  {%- endif %}
  <input type="text" readonly{% if widget.attrs %}{{ flatatt(widget.attrs) }}{% endif %}{% if attrs %}{{ flatatt(attrs) }}{% endif %}>
  {% if widget.enable_btn -%}
  {{ btn({"widget": widget}) -}}
  {%- endif %}
</div>
